header {
  background-image: url("../../ressources/bg_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  background-attachment: fixed;

  @apply h-60 xl:ml-72 border-b-8 border-gray-300;
}

.header-text {
  text-shadow: 0 0 10px #333, 0 0 10px #333, 0 0 10px #333;
}
