@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "header";
@import "nav";
@import "footer";

@import "home";

/* background-image: linear-gradient(to right, #29323c, #485563); */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  @apply xl:ml-72;
}
