/************** BOUTON NAV **************/
.toggle-nav {
  @apply w-14 h-14 bg-gray-800 rounded-full border-gray-700 border-2 fixed z-10 top-2 left-2;
  @apply xl:hidden;
}

.cont-lines {
  @apply w-7 h-7 cursor-pointer absolute top-1/2 left-1/2;
  transform: translate(-50%, -50%);
}

.single-line {
  @apply w-full h-1 bg-gray-50 rounded-lg;
  @apply absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 500ms ease-out;
}
.single-line::before {
  content: "";
  @apply w-full h-1 bg-gray-50 rounded-lg top-2;
  @apply absolute;
  transition: top 300ms ease, transform 300ms 300ms ease;
}
.single-line::after {
  content: "";
  @apply w-full h-1 bg-gray-50 rounded-lg -top-2;
  @apply absolute;
  transition: top 300ms ease, transform 300ms 300ms ease;
}

.cont-lines.active .single-line {
  background: transparent;
}
.cont-lines.active .single-line::after {
  top: 0;
  transform: rotate(45deg);
}
.cont-lines.active .single-line::before {
  top: 0;
  transform: rotate(-45deg);
}

/************** NAV **************/
nav {
  @apply fixed top-0 z-10;
  @apply -left-72 xl:-left-0;

  transition: left 300ms ease;
}

nav.menu-visible {
  @apply left-0;
}

.nav-side-menu {
  @apply bg-gray-800 h-screen w-72 flex flex-col items-center justify-evenly;
}

.nav-logo {
  @apply w-40 h-40 bg-gray-50 rounded-3xl;
}

.nav-list {
  @apply flex flex-col justify-center items-center text-gray-50 font-poppins text-2xl;
}

.nav-horizontal-divider {
  @apply bg-gray-400 w-10/12 h-1;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  margin: 5px auto 0 auto;
  height: 2px;
  border-radius: 2px;
  background: #333;
  transition: all 0.2s ease-out;
}

.nav-item:hover::after {
  width: 100%;
  @apply bg-cyan-400;
}

.media {
  @apply my-2 mx-1 relative w-14 h-14 rounded-lg cursor-pointer;
}
.media:hover {
  transition: all 0.5s ease-out;
  @apply bg-gray-900;
}
.media img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @apply w-10/12;
}
